*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
#header{
    height: 100vh;
    background-image: url(../images/birds.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}

.header-text{
    max-width: 350px;
    margin-top: 30px;
    margin-left: 70px;
}
h2{
    font-size: 15px;
}
h1{
    margin-top: 5px;
    font-size: 34px;
}

p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
    color: ash;
}
.button{
    padding: 18px 40px;
    background-color: transparent;
    outline: none;
    border: 2px solid steelblue;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
#side-nav{
    width: 240px;
    height: 100vh;
    position: fixed;
    float: right;
    right: -250px;
    top: 0;
    background: rgb(40, 168, 168);
    z-index: 2;
    transition: 1s;
    background-color: purple;
}
#back-to-top{
    visibility: hidden;/*visible*/
    background: purple;
    color: white;
    padding: 10px;
    position: fixed;
    float: right;
    right: 0px;
    font-size: 40px;
    margin-bottom: 20px;
    margin-right: 26px;
    cursor: pointer;
    bottom:0;
    z-index: 99;
    outline: none;
    border: none;
    border-radius: 8px;
}
#back-to-top:hover{
    background-color: grey;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-toggle{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
    background-color: purple;
}

.intro{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}
.intro h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.intro span{
    background: purple;
    height: 10px;
    width: 30px;
}
#about-me{
    height: 100vh;
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.about-me-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me-col{
    flex-basis: 50%;
    padding-top: 20px;
}

.about-me-col .text-1{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 20px;

}
.about-me-col p{
    margin-top: 20px;
}
.about-me-col button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid ;
    color: purple;
    background: grey;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 90px;

}
#service{
    margin-top: -100px;
}
.service-text p{
    margin-top: 20px;
    line-height: 25px;
    text-align: center;
}
.image-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-3{
    flex-basis:30%;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 4px 8px 14px rgba(0,0,0,0.3);
}

.col-3 img{
    width: 100%;
    margin-bottom: -30px;
}
.col-3 p,h3{
    text-align: center;
    padding: 10px;
}

.col-3 button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid ;
    color: purple;
    background: grey;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 90px;

}

.col-3 button:hover{
    background: none;
    outline: none;
    border:none;
    color: purple;
    font-weight: bold;
}
#contact-me{
    height: 100vh;
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.contact-me-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-me-col{
    flex-basis: 50%;
    padding-top: 20px;
}
.contact-me-img{
    margin-left: 800px;
    margin-top: -45%;

}
#form-field{
    border-radius: 5px;
    padding: 20px;
}
.input-field{
   width: 40%;
   padding: 12px 20px;
   margin: 8px 0;
   display: flex;
   border: 1px solid purple;
   border-radius: 4px;

}
input{
    width: 95%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid purple;
   border-radius: 4px;
   
}
#w3review{

   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid purple;
   border-radius: 4px;
}
.contact-btn{
     margin-top: auto;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid ;
    color: purple;
    background: grey;
    cursor: pointer;
    margin-left: 30px;


}
.contact-btn:hover{
    color: purple;
    font-weight: bold;
    background-color: transparent;
}

.footer-content {
    width: 100%;
    height: 40vh;
    background-color: rebeccapurple;
    color: white;
    padding-left: 40px;
    padding-right: 5px;

}
.row-footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content .footer-col{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}
.footer-content .footer-col h4{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-content ul{
    list-style-type: none;
}